{
  "globals": {
    "NodeJS": true
  },
  "extends": [
    "@moonstar-x/eslint-config/rules/node",
    "@moonstar-x/eslint-config/rules/typescript"
  ],
  "rules": {
    "no-dupe-class-members": "off",
    "camelcase": "off"
  }
}